APP_HOST=./app
PHP_VERSION=5.6

### nginx #################################################
NGINX_HOST_HTTP_PORT=8080
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_SITES_PATH=./nginx/sites/
NGINX_PHP_UPSTREAM_CONTAINER=php

### php extention #################################################
PHP_INSTALL_XDEBUG=TRUE
PHP_INSTALL_REDIS=TRUE
PHP_INSTALL_MONGODB=FALSE
PHP_INSTALL_MEMCACHED=FALSE
PHP_INSTALL_OPCACHE=TRUE
PHP_INSTALL_MYSQLI=TRUE
PHP_INSTALL_IMAGE_OPTIMIZERS=FALSE